@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


h1, h2, h3, h4 {
      font-family: "Playfair Display", serif;
}

body {
    font-family:"Roboto", sans-serif;
    letter-spacing: 0.3px;
}

aside::-webkit-scrollbar {
  width: 10px;
}

aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 

aside::-webkit-scrollbar-thumb {
  background: #445f8075; 
  border-radius: 10px;
}

.primary_btn {
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease-in-out;

}
.primary_btn:hover {
    box-shadow: rgb(39 81 129 / 54%) 0px 5px 10px;
}
.primary_btn span{
    position: relative;
    z-index: 1;
}

.primary_btn::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    height: 100%;
    background:linear-gradient(90deg, rgba(30, 99, 182, 1) 5%, rgb(39 81 129) 95%);
    transition: all 0.3s ease-in-out;
}
.primary_btn:hover::before {
    width: 100%;
    height: 100%;
}

.icon-flip svg{
    transition: all 0.3s ease-in-out;
}
.icon-flip:hover svg{   
    transform: rotateY(180deg);

}